<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="app_name" source="spring.application.name" defaultValue="jypt-default"/>
    <springProperty scope="context" name="log_path_define" source="logging.path" defaultValue="/opt/logs"/>

    <property name="log_days" value="90"/>
    <property name="log_max_size" value="50GB"/>
    <property name="log_path" value="${log_path_define}/${app_name}"/>
    <property name="log_format"
              value="[%clr(time:%d{yyyy-MM-dd HH:mm:ss.SSS}) %clr(PID:${PID:-}) %clr(thread:%thread) ] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- 控制台 -->
    <!--ch.qos.logback.classic.AsyncAppender-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${log_format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 总日志 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/server.log</file>
        <encoder>
            <pattern>${log_format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/server.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log_days}</maxHistory>
            <totalSizeCap>${log_max_size}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 错误日志 -->
    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log_days}</maxHistory>
            <totalSizeCap>${log_max_size}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log_format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--警告日志-->
    <appender name="WARN-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log_days}</maxHistory>
            <totalSizeCap>${log_max_size}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log_format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--async-->
    <appender name="STDOUT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <appender name="FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="FILEERROR_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERROR-FILE"/>
    </appender>
    <appender name="FILEWARN_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="WARN-FILE"/>
    </appender>


    <logger name="org.redisson.connection" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="STDOUT_ASYNC"/>
        <appender-ref ref="FILE_ASYNC"/>
        <appender-ref ref="FILEERROR_ASYNC"/>
        <appender-ref ref="FILEWARN_ASYNC"/>
    </root>

</configuration>